annotated-types
anyio
blinker
certifi
charset-normalizer
click
deprecation
docker
Flask
Flask-Cors
Flask-SQLAlchemy
flask-supabase
gotrue
greenlet
h11
h2
hpack
httpcore
httpx
hyperframe
idna
itsdangerous
Jinja2
MarkupSafe
packaging
postgrest
psycopg2-binary
pydantic
pydantic_core
python-dateutil
python-dotenv
realtime
requests
six
sniffio
SQLAlchemy
storage3
StrEnum
supabase
supafunc
typing_extensions
urllib3
websocket-client
websockets
Werkzeug
stripe
celery
redis