body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.navbar {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 60;
}

.navbar-item {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.navbar-link {
    color: white;
}

.downloads {
    position: relative;
    font-family: monospace;
    padding-top: 40px;
    text-align: center;
    color: greenyellow;
}

.guide {
    position: relative;
    font-family: monospace;
    padding-top: 40px;
    text-align: center;
    color: skyblue;
    margin-left: 10px;
    margin-right: 10px;
}

.code {
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
    background-color: darkslategray;
    display: flex;
    justify-items: start;
    align-items: center;
    border-radius: 10px;
    border-width: 3px;
    color:white;
}

.copy-button {
    background-color: transparent;
    background: none;
    border: none;
    color: gray;
    padding: 0;
    font: inherit;
    margin-left: auto;
    margin-right: 20px;
}

.guide-link {
    color: skyblue;
}

.multi-line {
    flex-direction: column;
    height: auto;
    align-items: start;
}